{% extends 'base.html' %}
{% block header %}
     <h1>sortu etxekolana</h1>
{% endblock %}
{% block content %}
<p>sortu etxekolana</p>
<form method = "post" action="/homework/save">
    <div><label for="name">Ariketaren izena</label></div>
    <div><input type="text" name="name" id="name"></div>
    <div><label for="description">Description</label></div>
        <div><textarea name="description" id="description" cols="30" rows="10"></textarea></div>
    <div><input type="submit" value="send"></div>
</form>
{% endblock %}