{% extends 'base.html' %}
{% block header %}
     <h1>editatu etxekolana</h1>
{% endblock %}
{% block content %}
<p>editatu etxekolana</p>
<form method = "post" action="/homework/update">
    <input type="hidden" name="id" value='{{homework[0]}}'/> 
    <div><label for="name">Ariketaren izena</label></div>
    <div><input type="text" name="name" id="name"  value='{{homework[1]}}'/></div>


    <div><label for="description">Description</label></div>
        <div><textarea name="description" id="description" cols="30" rows="10">
            {{homework[2]}}
        </textarea></div>

        <div><label for="id_subject">Asignaturaren kodea</label></div>
    <div><input type="number" name="id_subject" id="id_subject"  value='{{homework[3]}}'></div>

    <div><input type="submit" value="update"></div>
</form>
{% endblock %}